on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Upload Release Asset

env:
  RUSTFLAGS: "-D warnings"

jobs:
  build:
    name: build 
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - ubuntu-latest
        # Build for these versions to force backward compat with certain
        # toolchains (GLIBC < 2.29 in case of ubuntu-18.04)
        - ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly-2022-08-01
    - id: tag
      uses: dawidd6/action-get-tag@v1
    - run: cargo build --release --features telemetry --bin synth
    - working-directory: target/release
      run: tar -czf synth.tar.gz synth
    - uses: actions/upload-artifact@v2
      with:
        name: synth-${{ steps.tag.outputs.tag }}-${{ matrix.os }}-x86_64
        path: target/release/synth.tar.gz

  debug:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Test
        run: |
          echo $RELEASE_VERSION
          echo ${{ env.RELEASE_VERSION }}
  test_tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set output
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}
      - name: Check output
        env:
          RELEASE_VERSION: ${{ steps.vars.outputs.tag }}
        run: |
          echo $RELEASE_VERSION
          echo ${{ steps.vars.outputs.tag }}

  build-arm64:
    name: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly-2022-08-01
        target: aarch64-unknown-linux-musl
        override: true
    - id: tag
      uses: dawidd6/action-get-tag@v1
    - uses: actions-rs/cargo@v1
      with:
        use-cross: true
        command: build
        args: --release --features telemetry --bin synth --target aarch64-unknown-linux-musl
    - working-directory: target/aarch64-unknown-linux-musl/release
      run: tar -czf synth.tar.gz synth
    - uses: actions/upload-artifact@v2
      with:
        name: synth-${{ steps.tag.outputs.tag }}-ubuntu-latest-arm64
        path: target/aarch64-unknown-linux-musl/release/synth.tar.gz

  build-osx:
    name: build
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly-2022-08-01
    - id: tag
      uses: dawidd6/action-get-tag@v1
    - run: cargo build --release --features telemetry --bin synth
    - run: sudo /usr/sbin/purge
    - working-directory: target/release
      run: tar -czf synth.tar.gz synth
    - uses: actions/upload-artifact@v2
      with:
        name: synth-${{ steps.tag.outputs.tag }}-macos-latest-x86_64
        path: target/release/synth.tar.gz

  build-windows:
    name: build-windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2022-08-01
      - id: tag
        uses: dawidd6/action-get-tag@v1
      - id: version
        shell: bash
        run: |
          VERSION=$(cargo metadata --format-version 1 | jq '.packages[] | select (.name == "synth") | .version' -r)
          echo "::set-output name=version::${VERSION}"
      - run: cargo build --release --features telemetry --bin synth
      - id: install-wix
        run: nuget install WiX -Version 3.11.2
      - id: install-cargo-wix
        run: cargo install cargo-wix --version 0.3.1
      - id: copy-target
        name: Move synth.exe into wix friendly directory
        run: |
          mkdir synth/target/release
          copy target/release/synth.exe synth/target/release
      - id: wix
        name: Run cargo wix
        run: |
          cd synth
          cargo wix --nocapture
      - name: Rename output
        shell: bash
        run: |
          cd synth
          mv ./target/wix/synth-${{ steps.version.outputs.version }}-x86_64.msi \
             ./target/wix/synth-${{ steps.tag.outputs.tag }}-x86_64.msi
      - uses: actions/upload-artifact@v2
        with:
          name: synth-${{ steps.tag.outputs.tag }}-windows-msi-x86_64
          path: ./synth/target/wix/synth-${{ steps.tag.outputs.tag }}-x86_64.msi
      - uses: actions/upload-artifact@v2
        with:
          name: synth-${{ steps.tag.outputs.tag }}-windows-x86_64
          path: target/release/synth.exe

  release:
    name: release
    needs: [ build, build-osx, build-windows, build-arm64 ]
    runs-on: ubuntu-latest
    steps:
    - id: tag
      uses: dawidd6/action-get-tag@v1
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.tag.outputs.tag }}
        release_name: ${{ steps.tag.outputs.tag }}
        draft: true
        prerelease: false
    - run: echo '${{ steps.create_release.outputs.upload_url }}' > upload_url
    - uses: actions/upload-artifact@v2
      with:
        name: upload_url
        path: ./upload_url

  upload-nix-installer:
    name: upload-nix-installer
    needs: [ release ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v2
      with:
        name: upload_url
        path: ./
    - id: release
      run: echo "##[set-output name=upload_url;]$(cat upload_url)"
    - working-directory: tools/nix
      run: |
        cp install.nix default.nix
        sed -i \
            -e "s|master|$GITHUB_REF|g" \
            -e "s|HEAD|$GITHUB_SHA|g" \
            default.nix
        tar -cvf install-nix default.nix
    - name: Upload Release Asset
      id: upload-release-asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.release.outputs.upload_url }}
        asset_path: ./tools/nix/install-nix
        asset_name: install-nix
        asset_content_type: application/octet-stream

  upload:
    name: upload
    needs: [ release ]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - build: arm64
            os: ubuntu-latest
          - build: x86_64
            os: ubuntu-latest
          - build: x86_64
            os: macos-latest
          - build: x86_64
            os: ubuntu-18.04
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: upload_url
        path: ./
    - id: release
      run: echo "##[set-output name=upload_url;]$(cat upload_url)"
    - id: tag
      uses: dawidd6/action-get-tag@v1
    - uses: actions/download-artifact@v2
      with:
        name: synth-${{ steps.tag.outputs.tag }}-${{ matrix.os }}-${{ matrix.build }}
        path: ./
    - run: ls
    - name: Upload Release Asset
      id: upload-release-asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.release.outputs.upload_url }}
        asset_path: ./synth.tar.gz
        asset_name: synth-${{ matrix.os }}-${{ matrix.build}}.tar.gz
        asset_content_type: application/octet-stream

  upload-windows:
    name: upload-windows
    needs: [ release ]
    runs-on: windows-latest
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: upload_url
          path: ./
      - id: release
        run: echo "##[set-output name=upload_url;]$(cat upload_url)"
      - id: tag
        uses: dawidd6/action-get-tag@v1
      - uses: actions/download-artifact@v2
        with:
          name: synth-${{ steps.tag.outputs.tag }}-windows-x86_64
          path: ./
      - run: ls
      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: ./synth.exe
          asset_name: synth-windows-latest-x86_64.exe
          asset_content_type: application/octet-stream
      - uses: actions/download-artifact@v2
        with:
          name: synth-${{ steps.tag.outputs.tag }}-windows-msi-x86_64
          path: ./
      - name: Upload Windows installer
        id: upload-windows-installer
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release.outputs.upload_url }}
          asset_path: ./synth-${{ steps.tag.outputs.tag }}-x86_64.msi
          asset_name: synth-windows-msi-latest-x86_64.msi
          asset_content_type: application/octet-stream
